body {
  margin: 0px;
  padding: 0px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 2rem;
  font-size: 15px;
  background-color: #3f3d56;
  border: 1px solid #ccc;
  -webkit-box-sizing: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-sizing: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header-wrapper .logo .brand {
  color: #fff;
  text-decoration: none;
}

.header-wrapper .nav-wrapper .navigation,
.header-wrapper .nav-wrapper .navigation a,
.header-wrapper .nav-wrapper .navigation a:hover,
.header-wrapper .nav-wrapper .navigation a:focus {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
}

.activeClass {
  border-bottom: 1px solid red;
}
