body {
    margin: 0px;
    padding: 0px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2rem;
    font-size: 15px;
    background-color: #3f3d56;
    border: 1px solid #ccc;
    box-sizing: 0 2px 2px rgba(black, 0.2);
    flex-direction: row;
    text-align: center;
    align-items: center;
    color: #fff;

    .logo {
        .brand {
            color: #fff;
            text-decoration: none;
        }
    }

    .nav-wrapper {

        .navigation,
        .navigation a,
        .navigation a:hover,
        .navigation a:focus {
            color: #fff;
            padding: 5px 10px;
            text-decoration: none;
        }
    }
}

.activeClass {
    border-bottom: 1px solid red;
}